.game5 {
  margin-top: 100px;
  width: 1000px;
  padding-left: 50px;
}
.game5 .single-screen .body {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.game5 .single-screen .wrapper {
  position: relative;
}
.game5 .single-screen .video {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.game5 .single-screen .video video {
  height: 100%;
}
.game5 .single-screen .guess-box {
  padding: 7px 15px;
  font-size: 20px;
  border-radius: 10px;
}
.game5 .single-screen .additional {
  position: absolute;
  right: 0;
  background-color: #d6d9db;
  padding: 7px;
  margin-top: 10px;
  border-radius: 5px;
}
.game5 .single-screen .guess-text {
  color: #fff;
}
.game5 .button {
  font-size: 25px;
  background-color: #fff;
  color: #788287;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
  margin: auto;
  margin-top: 80px;
  padding: 20px 25px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-animation-name: buttonShow;
          animation-name: buttonShow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  transition: 0.5s;
}
.game5 .button:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
@-webkit-keyframes buttonShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes buttonShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}