.game4 {
  margin-top: 100px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .table {
    width: 800px;

    .top {
      display: grid;
      grid-template-columns: 150px repeat(5, 1fr);
      gap: 2px;

      .label,
      .table-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
      }

      .label {
        font-size: 14px;
        color: #fff;
        background-color: #9aa1a5;
        text-align: center;
      }

      .table-button {
        text-transform: uppercase;
        font-size: 20px;
        background-color: #d6d9db;
        cursor: pointer;
      }

      .active {
        background-color: #5ac8f5;
      }
    }

    .bottom {
      margin-top: 2px;
      display: grid;
      grid-template-columns: 150px repeat(3, 1fr);
      gap: 2px;

      .label,
      .guess-box {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .label {
        font-size: 14px;
        color: #fff;
        background-color: #9aa1a5;
        text-align: center;
        padding: 15px 0;
      }

      .guess-box {
        font-size: 20px;
        background-color: #d6d9db;
        flex-direction: column;
        justify-content: space-between;

        .line {
          background-color: #5ac8f5;
          width: 100%;
          text-align: center;
          color: #fff;
          font-size: 12px;
          padding: 7px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .line-correct {
          background-color: #85a70e;
        }

        .guess {
          padding: 15px 0;
          display: flex;
          gap: 15px;
          justify-content: center;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          color: #fff;

          .guess-label {
            color: #000;
          }
        }
      }

      .wrong {
        background-color: #eb6400;
      }

      .correct {
        background-color: #a4b51c;
      }
    }
  }

  .guess-word {
    font-size: 20px;
  }
}
