.game1 {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 1000px;

  audio {
    position: absolute;
    visibility: hidden;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    width: 800px;
    position: absolute;
    transition: 0.5s linear;

    img {
      cursor: pointer;
      width: 200px;
    }
  }

  .show-image {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;

    img {
      width: 500px;
      position: relative;
    }

    .description {
      transition: 0.5s linear;
      background-color: #5ac8f5;
      width: 500px;
      padding: 10px;
      text-align: center;
      border-radius: 10px;
      font-size: 16px;
    }
  }

  .option-screen {
    width: 600px;

    .image {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 30px;
      opacity: 0;
      pointer-events: none;

      img {
        width: 300px;
      }

      .description {
        background-color: #5ac8f5;
        width: 300px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        font-size: 16px;
      }
    }

    .options {
      transition: 0.5s linear;
      .option-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 25px;
      }

      .option {
        .button {
          margin: auto;
          margin-bottom: 25px;
          background-color: #a0c814;
          text-align: center;
          padding: 10px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          border-radius: 10px;
          font-size: 20px;
          color: white;
          width: max-content;
          cursor: pointer;
        }

        .box {
          text-align: center;
          width: 175px;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 125px;
          }

          .description {
            opacity: 0;
            transition: 0.5s linear;
            background-color: #5ac8f5;
            border-radius: 10px;
            padding: 7px;
            font-size: 12px;
            width: 175px;
          }
        }

        .box-completed {
          margin-bottom: 15px;
          transition: 0.5s linear;

          img {
            width: 175px;
            transition: 0.5s linear;
          }

          .description {
            opacity: 1;
          }
        }
      }
    }
  }

  .part2 {
    position: absolute;
    left: 0;
    display: grid;
    width: 1000px;
    padding-left: 25px;
    grid-template-columns: 1fr max-content;
    gap: 25px;

    .drop-zones {
      position: relative;
      z-index: 10000;
      opacity: 0;
      transition: 0.25s linear;
    }

    .drop-zone {
      display: flex;
      margin: 25px 0;
      height: 250px;

      .left {
        background-color: #a0c814;
        width: 85px;
        position: relative;
        border-radius: 20px 0 0 20px;

        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          transform: rotate(-90deg);
          font-size: 14px;
          position: absolute;
          left: 49px;
          top: 0;
          right: 0;
          bottom: 0;
          width: max-content;

          p {
            display: inline-block;
            width: max-content;
            margin-bottom: 5px;
          }

          .bold {
            font-weight: bold;
            margin-bottom: 10px;
          }

          .title {
            display: flex;
            width: 100%;
            justify-content: space-between;
          }
        }
      }

      .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .top,
        .bottom {
          position: relative;
          background-color: #d6d9db;
          height: 100%;
          color: #e2e2e2;
          font-weight: bold;
          font-size: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          border-radius: 0 10px 10px 0;

          .boxes {
            position: absolute;
            top: 5px;
            left: 70px;
            right: 30px;
            bottom: 9px;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 5px;
            font-weight: normal;

            .blue-box {
              opacity: 0;
              transition: 0.5s;
              background-color: #5ac8f5;
              border-radius: 10px;
              color: black;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 48px;
            }
          }
        }
      }
    }

    .render-images {
      width: 300px;
      display: flex;
      align-items: center;
      position: relative;
      height: 125px;
      margin: auto;

      .wrapper {
        position: absolute;
        position: flex;
        flex-direction: column;
        cursor: pointer;
        opacity: 0;

        img {
          width: 150px;
          pointer-events: none;
          height: auto;
        }

        p {
          pointer-events: none;
          font-size: 10px;
          width: 150px;
          text-align: center;
          background-color: #5ac8f5;
          padding: 7px;
          opacity: 0;
          transition: 0.25s linear;
          border-radius: 10px;
        }
      }

      @for $i from 1 through 6 {
        .wrapper:nth-child(#{$i}) {
          left: 20px * $i;
          bottom: 25px * $i;
          z-index: 10 - $i;
        }
      }
    }
  }

  .details-box-wrapper {
    position: absolute;
    transition: 0.5s linear opacity;
    pointer-events: none;
    z-index: 10000;
  }
}

.sentence-part {
  position: absolute;
  width: 1000px;
  padding-left: 100px;
  margin-top: 100px;
  font-size: 20px;
  animation-name: show;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: 0.5s;

  @keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .line {
    display: flex;
    margin-bottom: 30px;
    gap: 50px;
    align-items: center;

    .blank {
      background-color: #d6d9db;
      width: 175px;
      border-radius: 10px;
      padding: 5px 0;

      p {
        cursor: default !important;
      }
    }

    .sentence {
      display: flex;
      transition: 0.25s;

      p {
        background-color: #5ac8f5;
        border-radius: 7.5px;
        padding: 0px 5px;
        height: 30px;
        display: flex;
        align-items: center;
        transition: 200ms;
        cursor: pointer;

        &:hover {
          background-color: darken($color: #5ac8f5, $amount: 20);
        }
      }
    }
  }

  .clone {
    position: relative;
    cursor: pointer;
    // left: -200vw;
    z-index: 10000;

    height: 30px;
    display: flex;
    align-items: center;

    p {
      padding: 0px 5px;
      border-radius: 7.5px;
      background-color: #ddd;
      cursor: default !important;
    }
  }

  .finished {
    .line {
      p {
        cursor: default !important;

        &:hover {
          background-color: darken($color: #5ac8f5, $amount: 0) !important;
        }
      }
    }

    .clone {
      p {
        background-color: transparent !important;

        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }

  .line-wrapper {
    left: 0;
    top: 0;
    position: relative;
    transition: 0.25s;
    transition-delay: 500ms;
  }

  .completed-line {
    left: 200px;

    .sentence {
      opacity: 0;
    }
  }

  .completed-line:nth-child(1) {
    top: 100px;
  }
  .completed-line:nth-child(2) {
    top: 80px;
  }
  .completed-line:nth-child(3) {
    top: 100px;
  }
  .completed-line:nth-child(4) {
    top: 80px;
  }
  .completed-line:nth-child(5) {
    top: 100px;
  }
  .completed-line:nth-child(6) {
    top: 80px;
  }

  .box {
    position: absolute;
    left: 470px;
    color: #798388;
    display: flex;
    align-items: center;

    .bracket {
      height: max-content;
      line-height: 100%;
      font-size: 130px;
    }

    .green {
      display: flex;
      background-color: #a0c814;
      border-radius: 15px;
      height: 125px;
      margin-top: 10px;
      align-items: center;
      color: #fff;
      width: 200px;
      justify-content: center;
    }
  }

  .box1 {
    top: 72px;
  }

  .box2 {
    top: 215px;
  }

  .box3 {
    top: 355px;
  }

  .static-screen {
    transition: 0.5s;
    transition-delay: 0.5s;
  }
}

.button-submit {
  font-size: 25px;
  background-color: #fff;
  color: #788287;
  width: max-content;
  font-weight: 700;
  margin: auto;
  margin-top: 20px;
  padding: 20px 25px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation-name: buttonShow;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  transition: 0.5s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  }
}

@keyframes buttonShow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    transform: scale(1.15);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.end-button {
  margin-top: 120px;
}
