.game1 {
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  audio {
    position: absolute;
    visibility: hidden;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    position: relative;
    top: 0;
    opacity: 1;
    transition: 0.25s;

    img {
      width: 200px;
      height: auto;
      cursor: pointer;
    }
  }

  .clone {
    img {
      width: 200px;
      cursor: pointer;
      position: absolute;
      transition: 0.25s linear !important;
    }

    .text {
      opacity: 0;
      transition: 0.25s linear;
      background-color: #5ac8f5;
      width: 500px;
      padding: 10px;
      text-align: center;
      position: absolute;
      top: 500px;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 10px;
      font-size: 16px;
    }
  }

  .options {
    display: flex;
    gap: 100px;
    justify-content: center;
    position: absolute;
    top: 120%;
    transition: 0.25s linear;
    opacity: 0;

    .option {
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 80%;
        margin-top: 15px;
        position: relative;
        transform-origin: top left;
      }

      .btn {
        background-color: #a0c814;
        text-align: center;
        padding: 10px 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        font-size: 20px;
        color: white;
        transition: 0.5s;
        width: max-content;
      }

      .btn-hover {
        cursor: pointer;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
        }
      }
    }
  }
}
